@use "../../styles/colors";

.container {
  display: flex;
  flex-direction: column;
  padding: 30px;

  background: #1e1e1e;
  border-radius: 20px;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.categoriesTitle {
  font-family: IBM Plex Mono;
  font-weight: 600;
  font-size: 12px;

  color: #6d6d6d;
}

.category {
  margin-top: 10px;
  font-family: IBM Plex Mono;
  font-weight: bold;
  font-size: 10px;

  color: colors.$primary;

  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;

  width: 700px;
}

.headerBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
