@use "../.././../styles/colors";

.openMenuContainer {
  display: inline-flex;
  flex-direction: row;

  padding: 10px;

  border: 1px solid colors.$primary;
  box-sizing: border-box;
  border-radius: 5px;

  cursor: pointer;

  user-select: none;
}

.openMenuText {
  font-family: IBM Plex Mono;
  font-weight: bold;
  font-size: 10px;

  color: colors.$primary;
}
